p {
    color:black;
    font-size: small;
    font: bold;
    }
    a:link {
    color:aqua;
    }
    a:visited {
    color: blueviolet;
    }
    table {
    background-color: black;
    color: white;
    }