p {
    color:black;
    font-size: small;
    }

a:link {
    color:aqua;
    }

a:visited {
    color: blueviolet;
    }

table {
    background-color: darkgray;
    color: tomato;
    }

th {
    vertical-align: top;
    text-align: left;
    }

td {
    vertical-align: bottom;
    text-align: right;
    }

th, td {
    border: 2px plum
    }

caption {
    caption-side: bottom;
    font: bold;
    }

option {

}

div {

}